---
import LinkSns from '@components/ui/LinkSns.astro';

const snsData = [
	{
		text: 'twitter',
		link: '#_blank',
		image: 'Twitter.svg',
		imageAlt: 'twitter'
	},
	{
		text: 'instagram',
		link: '#_blank',
		image: 'Instagram.svg',
		imageAlt: 'instagram'
	}
];
---

<article class="article">
	<div>
		<p class="medium-text">最新の情報はSNSにて配信しております。</p>
		<p>Please check out our social medias for get new notices.</p>
	</div>
	<ul class="article__sns">
		{
			snsData.map(sns => (
				<li class="article__sns_item">
					<LinkSns
						text={sns.text}
						link={sns.link}
						image={sns.image}
						imageAlt={sns.imageAlt}
					/>
				</li>
			))
		}
	</ul>
</article>

<style lang="scss">
	@import '@styles/colors';

	.article {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}
	.article__sns {
		display: flex;
		flex-direction: column;
		gap: 60px;
	}

	.article__sns_item {
		position: relative;
		&:not(:last-child)::after {
			content: '';
			width: 1rem;
			height: 1px;
			background-color: $__primary;
			position: absolute;
			bottom: -29px;
		}
	}
</style>
