---
import Access from '@components/homepage/access/Access.astro';
import Caution from '@components/homepage/Caution.astro';
import FloorsMapList from '@components/homepage/floorsMap/FloorsMapList.astro';
import Sns from '@components/homepage/Sns.astro';
import Top from '@components/homepage/Top.astro';
---

<Top />
<section class="section-template">
	<Sns />
	<FloorsMapList />
	<Access />
	<Caution />
</section>

<style lang="scss">
	@import '@styles/utils/variables';
	@import '@styles/utils/mixins';
	.section-template {
		display: flex;
		flex-direction: column;
		gap: 170px;

		@include mq(md) {
			gap: 200px;
		}
	}
</style>
