@import './utils/variables';
@import './utils/mixins';

@import './reset';
@import './colors';
@import './fonts';

html,
body {
	height: 100%;
	width: 100%;
}

body {
	position: relative;
	min-width: 375px;
	max-width: 1600px;
	overflow-x: hidden;
	margin: 0 auto;
	font-family:
		'Noto Sans JP',
		sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;

	color: $__main;
	font-size: 0.75rem;
	font-weight: 100;
	line-height: 24px;
	letter-spacing: 0.1em;

	@include mq(md) {
		font-size: 1rem;
	}
}

main {
	padding-inline: $__mobile__padding;
	margin: 0 auto;

	@include mq(md) {
		padding-inline: $__desktop__padding;
	}
}

.big-title {
	font-size: $__font18;
	line-height: 26px;

	@include mq(md) {
		font-size: $__font24;
		line-height: 35px;
	}
}

.small-title {
	font-size: $__font18;
}

.small-text {
	font-size: $__font11;

	@include mq(md) {
		font-size: $__font14;
	}
}

.medium-text {
	font-size: $__font14;

	@include mq(md) {
		font-size: $__font16;
	}
}

.section-template {
	margin-top: 90px;
}

@include mq(md) {
	.link-border {
		transition: outline 250ms ease;
		outline: 1px solid transparent;
		&:hover {
			outline: 1px solid $__primary;
		}
	}

	.link-underline {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $__primary;
			scale: 0 0;
			transition: scale 250ms ease;
		}

		&:hover::after {
			scale: 1 1;
		}
	}
}
