---
import Navbar from './Navbar.astro';
---

<header class="header">
	<div class="header__logo">
		<a href="/">
			<img src="/logo/nayuta__logo.svg" alt="logo nayuta" />
		</a>
	</div>
	<div class="header__nav">
		<Navbar />
	</div>
</header>

<style lang="scss">
	@import '@styles/utils/variables';
	@import '@styles/utils/mixins';

	.header {
		width: $__full__width;
		height: 100px;

		@extend %flex-center;
		flex-direction: column;
		gap: 33px;

		@include mq(md) {
			height: 160px;

			flex-direction: row;
			justify-content: space-between;
			padding-top: 0;
		}
	}
	.header__logo {
		img {
			width: 60px;
			height: 26px;
		}
	}
	.header__nav {
		width: $__full__width;
		padding: 0 5%;
		@include mq(sm) {
			padding: 0 $__mobile__padding;
		}
	}

	@include mq(md) {
		.header__logo {
			padding-left: $__desktop__padding;
		}
		.header__nav {
			width: fit-content;
			padding: 0 48px 0 0;
		}
	}
</style>
