---
import Navbar from './Navbar.astro';
---

<header class="header">
	<div class="header__logo">
		<a href="/">
			<img src="/logo/nayuta__logo.svg" alt="logo nayuta" />
		</a>
	</div>
	<div class="header__nav">
		<Navbar />
	</div>
</header>

<style lang="scss">
	@import '@styles/utils/variables';
	@import '@styles/utils/mixins';

	.header {
		width: $__full__width;
		height: 98px;
		padding-top: 1rem;

		background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 255, 0.4864320728291317) 50%,
			rgba(255, 255, 255, 0) 100%
		);
	}

	.header__logo {
		img {
			margin: 0 auto;
			width: 60px;
			height: 26px;
		}

		@include mq(md) {
			padding-left: $__desktop__padding;
		}
	}

	.header__nav {
		width: $__full__width;
		padding: 20.5px 5%;

		@include mq(sm) {
			padding: 20.5px $__mobile__padding;
		}

		@include mq(md) {
			width: fit-content;
			padding: 0 48px 0 0;
		}
	}

	.header__nav.sticky {
		position: fixed;
		top: 0;
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 255, 0.4864320728291317) 50%,
			rgba(255, 255, 255, 0) 100%
		);
	}

	@include mq(md) {
		.header {
			position: sticky;
			height: 160px;
			top: 0;

			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding-top: 0;
		}
	}
</style>
