---

---

<li>
	<address class="address">
		〒 811-2501
		<br />
		<div class="address__address">
			<span>福岡県糟屋郡久山町大字久原1822</span>
			<a
				class="google-map"
				target="_blank"
				href="https://www.google.com/maps/place/Nayuta/@33.6398413,130.5189781,18.25z/data=!4m11!3m10!1s0x35418516e8091633:0x846611b3ed0b9d14!5m4!1s2023-09-08!2i2!4m1!1i2!8m2!3d33.6398575!4d130.519232!16s%2Fg%2F11k39kw0kf?entry=ttu"
			>
				Google Map</a
			>
		</div>
		<span>Tel <a href="tel:+8192-410-3309">092-410-3309</a></span>
	</address>
</li>

<style lang="scss">
	@import '@styles/config';
	.address {
		font-style: normal;
	}

	.address__address {
		display: flex;
		flex-wrap: wrap;
		column-gap: 2rem;
	}
	.google-map {
		display: inline-block;
		color: $__link_blue;
	}
</style>
