---

---

<li>
	<div class="business-hours">
		<p>営業時間 <time>10:00</time> ~ <time>17:00</time></p>
		<p>飲食店ラストオーダー 16:30</p>
		<div class="small-text">
			<p>(レストランのみ 11:00 〜 15:00 ラストオーダー 14:00)</p>
		</div>
	</div>
</li>
