---
import type { TEatery } from '@libs/types';

type Props = {
	floor: TEatery['floor'];
	dayOff: TEatery['dayOff'];
	businessInfo: TEatery['businessInfo'];
};

const { floor, dayOff, businessInfo } = Astro.props;
---

<p class="floor small-underline">{floor}</p>
{
	dayOff.length !== 0 || businessInfo ? (
		<div class="business small-underline">
			{dayOff.length !== 0 ? <p class="business__dayOff">毎週{dayOff}曜日 定休</p> : null}
			{businessInfo ? <p class="business__info break-line">{businessInfo}</p> : null}
		</div>
	) : null
}

<style lang="scss">
	@import '@styles/config';

	.business__info {
		font-size: $__font12;
	}

	.small-underline {
		margin: 0 0 60px 0;
		&::after {
			bottom: calc(-30px + 1px);
		}
	}
</style>
