---
import type { TRestaurantMenu } from '@libs/types';

import MenuContainer from '../ui/MenuContainer.astro';

const { menus } = Astro.props as TRestaurantMenu;
---

<MenuContainer>
	<ul>
		{
			menus.map(menu => (
				<li class="menus__item">
					<h3 class="menus__item_title">{menu.menu}</h3>
					<p class="menus__item_price">¥{menu.price.toLocaleString()}(税込)</p>
					<ul class="menus__item_dishes">
						{menu.dishes ? menu.dishes.map(dish => <li>{dish}</li>) : null}
						{menu.addInfo ? <li>{menu.addInfo}</li> : null}
					</ul>
				</li>
			))
		}
	</ul>
</MenuContainer>

<style lang="scss">
	@import '@styles/config';

	.menus__item {
		display: flex;
		flex-direction: column;
		gap: 20px;

		&:not(:last-child) {
			@include underline($__margin: 0 0 70px 0, $__bottom: calc(-35px + 1px));
		}

		.menus__item_title {
			font-weight: $__medium;
		}

		.menus__item_dishes {
			display: flex;
			flex-direction: column;
			gap: 12px;
		}
	}
</style>
