---
import FacilityInfo from '@components/facility/FacilityInfo.astro';
import EateryFacilityWrapper from '@components/ui/EateryFacilityWrapper.astro';
import PageTitle from '@components/ui/PageTitle.astro';
import Layout from '@layouts/Layout.astro';
import { facilitiesData } from '@libs/data';
import { getCollection, getEntry } from 'astro:content';

const allFacilities = await getCollection('facilities');
---

<Layout headTitle={'販売店、貸し施設ご紹介'}>
	<PageTitle titleJa="販売店、貸し施設ご紹介" titleEn="introduce shops and facilities" />
	{
		allFacilities.map(async item => {
			const { data } = item;
			const entry = await getEntry('facilities', item.slug);
			const { Content } = await entry.render();
			const isAnotherOrVanish =
				data.title === 'Tent Sauna THE VANISH' || data.title === 'Rental Space another';

			return (
				<EateryFacilityWrapper item={data} class={isAnotherOrVanish ? '' : 'facility'}>
					<div class="shop-content">
						<Content />
					</div>
					{isAnotherOrVanish &&
						facilitiesData.map(facility => {
							if (facility.type === data.title) {
								return <FacilityInfo data={facility.info} />;
							}
						})}
				</EateryFacilityWrapper>
			);
		})
	}
</Layout>

<style lang="scss">
	@import '@styles/config';
	.facility {
		@include underline(
			$__width: 6rem,
			$__margin: 0 0 120px 0,
			$__bottom: calc(-50px + 1px)
		);
	}

	.shop-content {
		margin-bottom: 50px;
	}
</style>
