---
type Props = {
	class: string;
};
const { class: bubble__modal } = Astro.props;
---

<div class:list={['container', bubble__modal]}>
	<div class:list={['container__bubble']}>
		<slot />
	</div>
</div>

<style lang="scss">
	@import '@styles/config';

	.container {
		z-index: 100;
	}

	.container__bubble {
		padding: 1rem;
		border-radius: 5px;
		position: relative;
		border: 1px solid $__primary;
		background-color: rgba(255, 255, 255, 0.9);

		&::before,
		&::after {
			content: '';
			position: absolute;
			display: block;
			width: 0;
			z-index: 1;
			border-style: solid;
		}

		&::before {
			border-color: transparent $__primary transparent transparent;
		}

		&::after {
			border-color: transparent #fff transparent transparent;
		}
	}

	.container.left > .container__bubble {
		&::before,
		&::after {
			border-width: 0 40px 19px 0;
			top: 3rem;
		}

		&::before {
			left: -2.5rem;
			margin-top: -2.4rem;
		}

		&::after {
			border-color: transparent #fff transparent transparent;
			left: -2.2rem;
			margin-top: -2.3rem;
		}
	}

	.container.top > .container__bubble {
		&::before,
		&::after {
			border-width: 20px 20px 0;
			top: 1rem;
		}

		&::before {
			left: 8.1rem;
			margin-top: -2.6em;
		}

		&::after {
			border-width: 21px 19px 0;
			left: 8.1rem;
			margin-top: -2.1rem;
		}
	}
</style>
