---
import type { TEatery } from '@libs/types';

type Props = {
	dietaries: TEatery['dietaries'];
};

const createInitial = (text: TEatery['dietaries'][number]): string | void => {
	switch (text.trim()) {
		case 'Vegan':
			return 'VG';
		case 'Muslim Friendly':
			return 'MF';
		case 'Lacto-ovo Vegetarian':
			return 'LoV';
		default:
			'test';
	}
};

const { dietaries } = Astro.props;
---

<div class="dietaries">
	<ul class="dietaries__list">
		{
			dietaries.map(dietary => (
				<li class="dietaries__list_item">{createInitial(dietary)}</li>
			))
		}
	</ul>
	<button class="dietaries__info">?</button>
</div>

<style lang="scss">
	@import '@styles/config';

	.dietaries,
	.dietaries__list {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.dietaries__list {
		&::after {
			content: '';
			margin: 0 auto;
			width: 2rem;
			height: 1px;
			background-color: $__primary;
		}
	}

	.dietaries__list_item,
	.dietaries__info {
		border: 1px solid $__primary;
	}

	.dietaries__list_item {
		padding: 0.25rem 0.5rem;
	}

	.dietaries__info {
		font-size: $__font22;
		padding: 0.5rem 1rem;
		border-radius: 50%;
	}

	@include mq(md) {
		.dietaries {
			justify-content: center;
		}
	}
</style>
