---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

type Props = {
	type: 'sns' | 'maeda';
	link: string;
	image: ImageMetadata;
	altImage: string;
};

const { type, link, image, altImage } = Astro.props;
---

<div class={`${type === 'sns' ? 'logo__sns' : 'logo__maeda'}`}>
	<a href={link}>
		<Image src={image} alt={`logo ${altImage}`} width={21} height={21} />
	</a>
</div>

<style lang="scss">
	@import '@styles/config';

	.logo__sns {
		width: 26.5px;
	}

	.logo__maeda {
		width: 50px;

		@include mq(md) {
			width: 72px;
		}
	}
</style>
