---
const { title } = Astro.props;
---

<div class="article__wrapper">
	<h2 class="article__wrapper_title big-title">{title}</h2>
	<div class="article__wrapper_slot">
		<slot />
	</div>
</div>

<style lang="scss">
	@import '@styles/config';

	.article__wrapper_title {
		margin-bottom: 75px;
	}

	@include mq(md) {
		.article__wrapper {
			display: flex;
		}

		.article__wrapper_title,
		.article__wrapper_slot {
			flex: 1;
		}

		.article__wrapper_title {
			margin-bottom: 75px;
		}
	}
</style>
