---
type Props = {
	text: string;
	link: string | undefined;
	image: string;
	imageAlt: string;
};
const { text, link, image, imageAlt } = Astro.props;
---

<a class="link link-border" href={link}>
	<p class="link__text">{text}</p>
	<img class="link__image" src={image} alt={`logo ${imageAlt}`} />
</a>

<style lang="scss">
	.link {
		width: 50%;
		min-width: 230px;
		max-width: 270px;
		display: flex;
		justify-content: space-between;
		padding: 13px 10px;
		margin-left: -13px;
	}

	.link__text {
		width: 100%;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&::after {
			content: '';
			display: block;
			background: url('/icons/chevron_right_FILL0_wght400_GRAD0_opsz48.svg') no-repeat;
			background-size: 25px 25px;
			width: 25px;
			height: 25px;
			margin-right: 1rem;
		}
	}
	.link__image {
		width: 21px;
	}
</style>
